# Dependency directories
node_modules/

# Build output
www/
dist/
.angular/

# Capacitor / Native build folders
android/
ios/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.
# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Generated source maps and bundles
*.js.map
*.css.map

# Optional environment files
.env
.env.*

# OS temporary files
Thumbs.db
desktop.ini

# Misc
coverage/
